#loginPane{
    -fx-background-color :  SteelBlue;
}

#libraryUIGridPane{
    -fx-background-color :  SteelBlue;

}

#checkedOutTextArea {
    text-area-background: #DDDDDD ;
}

#checkedOutTextArea .content {
    -fx-background-color: text-area-background ;
}

.title-bar{
    -fx-background-color: transparent;
}